@using Microsoft.AspNetCore.Identity
@model IEnumerable<Collection>
@inject UserManager<AppUser> usermanager

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <h3 style="color:#42b883">Top 5 Largest Collections</h3>
    @foreach (var collection in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header" style="background-color:#97cba9">
                    <h5 class="card-title">
                        <a href="@Url.Action("Index", "Item", new { id = collection.Id })" style="color:white">@collection.Name</a>
                    </h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Current Number of items: @collection.Items.Count</p>
                    
                </div>
            </div>
        </div>
    }
   
</div>
<br />
<div class="row">
    <h3 style="color:#e8751a">Latest Items</h3>
    @foreach (var collection in Model)
    {
        @foreach (var item in collection.Items.OrderByDescending(i => i.AddedTime).Take(5))
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header" style="background-color:#fdb44b; color: white;">
                        <h5 class="card-title">
                            <a href="@Url.Action("ItemPage", "Item", new { id = item.Id })" style="color: white;">@item.Name</a>
                        </h5>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Collection: <a href="@Url.Action("Index", "Item", new { id = collection.Id })
                                        " style="color:black">
                                @collection.Name
                            </a>
                        </p>
                        <p class="card-text"> User:  <a href="@Url.Action("Profile", "Home", new { id = collection.AppUserId })" style="color:black">@collection.appUser.UserName</a></p>


                    </div>
                </div>
            </div>
        }
    }
    
</div>