
@using CollectionsApp.Enums;
@model AppUser
@{
    ViewData["title"] = "Profile";
    var categories = Enum.GetValues(typeof(Category));
    
}
<div class="personal-info-box">
    <div class="header-container">
        <h2 style="color:#b6d4e3; display: inline;">Personal Information</h2>
        <form asp-controller="User" asp-action="Edit" method="get" asp-route-id="@Model.Id" style="display: inline;">
            <button type="submit" class="btn btn-softblue" style="margin-top: -8px; margin-left: 10px;">
                Edit <i class="fa-regular fa-pen-to-square" style="margin-left: 5px;"></i>
            </button>
        </form>

    </div>  
    <div class="info">
        <strong>UserName:  @Model.UserName</strong>
    </div>
    <div class="info">
        <strong>FirstName: @Model.FirstName </strong>
    </div>
    <div class="info">
        <strong>Lastname: @Model.LastName </strong>
    </div>
    <div class="info">
        <strong>Email: @Model.Email</strong>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center mb-3">
                @if (User.IsInRole("Admin") || User.Identity.Name == Model.UserName)
                {
                    <!-- Add Collection Form -->
                    <form method="get" asp-controller="Collection" asp-action="Create" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-folder-plus" style="margin-right: 5px;"></i> Add Collection
                        </button>
                    </form>
                    <!-- Delete and Edit Buttons -->
                    <div>
                        <button type="button" class="btn btn-danger deleteSelected mr-2">
                            <i class="fa-regular fa-trash-can" style="margin-right: 5px;"></i>Delete
                        </button>
                        <button type="button" class="btn btn-warning editSelected">
                            <i class="fa-solid fa-pen-to-square" style="margin-right: 5px;"></i>Edit
                        </button>
                    </div>
                }
            </div>
            <!-- Table -->
            <table class="table table-hover">
                <!-- Table Header -->
                <thead class="thead" style="background-color:#ffb5b5">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>

                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var collection in Model.Collections)
                    {
                        <tr class="table-light">
                            <td><input type="checkbox" class="selectSingle" value="@collection.Id" /></td>
                            <td><a href="@Url.Action("Index", "Item", new {id = collection.Id})">@collection.Name</a></td>
                            <td>@collection.Description</td>
                            <td>@collection.category</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script>
    // Function to handle delete selected action
    $(".deleteSelected").click(function () {
        var selectedIds = [];
        $(".selectSingle:checked").each(function () {
            selectedIds.push($(this).val());
        });
        if (selectedIds.length > 0) {
            var confirmation = confirm("Are you sure you want to delete the selected collections?");
            if (confirmation) {
                // Send POST request to delete selected collections
                $.post({
                    url: "@Url.Action("Delete", "Collection")",
                    data: { ids: selectedIds },
                    success: function (response) {
                        // Handle success response
                        window.location.reload(); // Refresh the page or perform other actions as needed
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                        alert("An error occurred while deleting the collections.");
                    }
                });
            }
        } else {
            alert("Please select at least one collection to delete.");
        }
    });
    $(".editSelected").click(function () {
        var selectedIds = [];
        $(".selectSingle:checked").each(function () {
            selectedIds.push($(this).val());
        });
        if (selectedIds.length > 0) {
            var url = "@Url.Action("Edit", "Collection")";
            url += "?ids=" + selectedIds.join(",");
            window.location.href = url;
        } else {
            alert("Please select at least one collection to edit.");
        }
    });
 
</script>
