
@using CollectionsApp.Enums;
@model AppUser
@{
    ViewData["title"] = "Profile";
    var categories = Enum.GetValues(typeof(Category));
    
}
<div class="personal-info-box">
    <div class="header-container">
        <h2 style="color:#feffdf; display: inline;">Personal Information</h2>
        <form asp-controller="User" asp-action="Edit" method="get" asp-route-id="@Model.Id" style="display: inline;">
            <button type="submit" class="btn btn-softblue" style="margin-top: -8px; margin-left: 10px;">
                Edit <i class="fa-regular fa-pen-to-square" style="margin-left: 5px;"></i>
            </button>
        </form>
    </div>


        
    <div class="info">
        <strong>UserName:  @Model.UserName</strong>
    </div>
    <div class="info">
        <strong>FirstName: @Model.FirstName </strong>
    </div>
    <div class="info">
        <strong>Lastname: @Model.LastName </strong>
    </div>
    <div class="info">
        <strong>Email: @Model.Email</strong>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form method="get"
                  asp-controller="Collection"
                  asp-action="Create"
                  asp-route-id="@Model.Id"
                  class="mb-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-folder-plus" style="margin-right: 5px;"></i> Add Collection
                </button>
            </form>
            <table class="table table-hover">
                <thead class="thead" style="background-color:#ffb5b5">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var collection in Model.Collections)
                    {
                        <tr class="table-light">
                            <td>
                                <a href="@Url.Action("Index", "Item",new {id = collection.Id})">@collection.Name</a>
                            </td>
                            <td>@collection.Description</td>
                            <td>@collection.category</td>
                            <td class="td-buttons">
                                <form asp-controller="Collection"
                                      asp-action="Delete"
                                      method="post"
                                      asp-route-id="@collection.Id">
                                    <button type="submit" class="btn btn-danger">
                                        Delete<i class="fa-regular fa-trash-can" style="margin-left: 5px;"></i>
                                    </button>
                                </form>
                                <form asp-controller="Collection"
                                      asp-action="Edit"
                                      method="get"
                                      asp-route-id="@collection.Id">
                                    <button type="submit" class="btn btn-warning">
                                        Edit<i class="fa-regular fa-pen-to-square" style="margin-left: 5px;"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>