@using CollectionsApp.ViewModels
@model ItemPageVM
@{
    ViewData["Title"] = "Items";
}

<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            <div class="card-body text-center">
                @if (!string.IsNullOrEmpty(Model.collection.PhotoUrl))
                {
                    <img src="@Model.collection.PhotoUrl" class="img-fluid mx-auto d-block" style="max-height: 300px;" alt="Collection Image">
                }
                else
                {
                    <div style="background-color:darkgray">
                    <p><strong>No image uploaded.<strong></p>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text" style="color:#9d53c3"><strong>Collection Name:</strong> @Model.collection.Name</p>
                <p class="card-text" style="color: #9d53c3"><strong> Collection Description:</strong> @Model.collection.Description</p>
                <p class="card-text" style="color: #9d53c3"><strong>Collection Category:</strong> @Model.collection.category</p>
                <p class="card-text" style="color: #9d53c3"><strong>Current Number of Items:</strong> @Model.collection.Items.Count</p>
                <p class="card-text" style="color: #9d53c3"><strong>Collection Owner:</strong> @Model.collection.appUser.UserName</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">
            @if (User.IsInRole("Admin") || User.Identity.Name == Model.collection.appUser.UserName)
            {
                <form class="d-inline-block mr-2" method="get" asp-controller="Item" asp-action="Create" asp-route-id="@Model.collection.Id">
                    <button type="submit" class="btn btn-info">
                        <i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Add Item
                    </button>
                </form>
            }

            <form class="d-inline-block mr-2" method="get" asp-controller="Home" asp-action="Profile" asp-route-id="@Model.collection.AppUserId">
                <button type="submit" class="btn btn-warning">
                    <i class="fa-solid fa-circle-chevron-left" style="margin-right: 5px;"></i>Back to collection(s)
                </button>
            </form>

            <form class="d-inline-block" asp-controller="Items" asp-action="Index" method="get">
                <select class="form-control form-control-sm custom-select" style="width: 200px; font-size: 14px; outline: 2px solid #be3144; height: 38px;" onchange="location = this.value;">
                    <option value="@Url.Action("Index", new { sortOrder = ViewBag.CurrentSort, Id = Model.collection.Id, searchString = ViewBag.SearchString })">--Select Column --</option>
                    <option value="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParam, Id = Model.collection.Id, searchString = ViewBag.SearchString })">Name</option>
                    <option value="@Url.Action("Index", new { sortOrder = ViewBag.TagsSortParam, Id = Model.collection.Id, searchString = ViewBag.SearchString })">Tags</option>
                </select>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thread">
                    <tr class="table-danger">
                        <th scope="col">Name</th>
                        <th scope="col">Tags</th>
                        @foreach (var cf in Model.collection.CustomFields)
                        {
                            <th>@cf.Label</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var Item in Model.items)
                {
                    <tr class="table-light">
                        <td><a href="@Url.Action("ItemPage", "Item", new {id = @Item.Id})">@Item.Name</a></td>
                        <td>@Item.Tags</td>
                        @foreach (var cf in Model.collection.CustomFields)
                        {
                            var customFieldVal = Item.ItemCustomFieldVals.FirstOrDefault(icf => icf.CustomFieldId == cf.Id);
                            <td>@(customFieldVal != null ? customFieldVal.Value : "")</td>
                        }
                        <td class="td-buttons">
                            @if (User.IsInRole("Admin") || User.Identity.Name == Model.collection.appUser.UserName)
                            {
                                <form id="DeleteItemForm_@Item.Id" asp-controller="Item" asp-action="Delete" method="post" asp-route-id="@Item.Id">
                                    <input type="hidden" id="DeleteItemFormItemIds_@Item.Id" name="itemIds" />
                                    <button type="submit" class="btn btn-danger" style="display: inline-block;">
                                        Delete
                                        <i class="fa-regular fa-trash-can" style="margin-left: 5px"></i>
                                    </button>
                                </form>
                            }

                            @if (User.IsInRole("Admin") || User.Identity.Name == Model.collection.appUser.UserName)
                            {
                                <form id="EditItemForm_@Item.Id" asp-controller="Item" asp-action="Edit" method="get" asp-route-id="@Item.Id">
                                    <input type="hidden" id="EditItemFormItemIds_@Item.Id" name="itemIds" />
                                    <button type="submit" class="btn btn-success" form="EditItemForm_@Item.Id" style="display: inline-block;">
                                        Edit <i class="fa-solid fa-sliders" style="margin-left: 5px"></i>
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
